@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* rules global */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

:root {
  --color-1: #1D5B79;
  --color-2: #468B97;
  --color-3: #EF6262;
  --color-4: #F3AA60;
  --color-5: #FFFFFF;
  --color-6: #DDDDDD;
  --color-7: #000000;
}

body {
  font-family: 'Poppins Light', 'sans-serif';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-1);
}

h1 {
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Poppins Medium', 'sans-serif';
  margin-bottom: 15px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* buttons */
.btn {
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
  margin-right: 15px;
  width: 120px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--color-3);
  color: var(--color-5);
}

.btn-success {
  background-color: var(--color-1);
  color: var(--color-5);
}

.btn-warning {
  background-color: var(--color-4);
  color: var(--color-5);
}

.btn-info {
  background-color: var(--color-2);
  color: var(--color-5);
}

.btn-dark {
  background-color: var(--color-7);
  color: var(--color-5);
}


.state {
  background-color: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  width: 80px;
  border-radius: 12px;
  color: var(--color-6);
  font-weight: bold;
}

.remove {
  color: var(--color-3);
  float: right;
  cursor: pointer;
  font-weight: bold;
}

/*Texts*/
.text-primary{
  color: var(--color-3);
}


.card {
  background-color: var(--color-5);
  width: 500px;
  border-radius: 5px;
  padding: 20px;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  margin: 25px 0;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




.input-form {
  position: relative;
}

.input-form input {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--color-6);
  font-size: 16px;



}

.input-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  border-radius: 25px;
  width: 120px;
  margin-right: initial;
}



.todos {
  margin-top: 15px;
}

.todo {
  margin-bottom: 2px;
  cursor: pointer;
}


.underline {
  text-decoration: line-through;
  text-decoration-color: var(--color-3);
}

.errors {
  font-size: 15px;
  color: var(--color-3);
  margin-top: 10px;

}